{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "rules": {
    "jsx-a11y/media-has-caption": 0,
    "react/no-danger": 0,
    "react/sort-comp": [
      2, {
        "order": [
          "static-methods",
          "type-annotations",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ]
  }
}
